extends ../_layout
include ../_includes/link_mixin
block content
	h1.heading Your Quizzes
	ul.list 
		if quizzes
			for quiz in quizzes 
				li.list__item
					span.list__item__title= quiz.name
					+link('/admin/quizzes/'+quiz.id, 'View')
	a.button.primary(href="/admin/quizzes/new") Create a new quiz
