extends ../_layout
include ../_includes/link_mixin
block content
	h1.heading= quiz.name
	ul.list
		for question in questions
			li.list__item
				span.list__item__title= question.title
				+link('/questions/'+question.id, 'View')
